*.jar
!/gradle/wrapper/gradle-wrapper.jar
*.war
*~
*.class
*.lock
*.DS_Store
*.swp
*.out
target/
build/
*.iml
*.ipr
*.iws
.gradle/
.settings/
.classpath
.project
.metadata/
.idea/
.git/
__pycache__/
venv/
.mvn/
logs/
dev.properties
dependency-reduced-pom.xml
*.rdb
log/
!application-*.yml
application.properties
application-*.properties
!*/src/test/resources/application.yml
!*/src/test/resources/application-*.yml
!*/src/test/resources/application.properties
!*/src/test/resources/application-*.properties
*.perm
*.bak
*.log
bin/
out/
target
.txlcn
/sc-provider/sc-scm-financial/.txlcn
MybatisMapperRefresh.java
.local-config/
.config/
source-generator
Dockerfile
start.sh
rebel.xml
.erda
bakup.bat
bakup.sh
.classes/
