@font-face {
    font-family: "pmzd";
    src: url('./font/pmzd.ttf'); // 庞门正道标题体
    // src: url('D-DINExp-Bold.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "D-DIN-Bold";
    src: url('./font/D-DIN-Bold.ttf'); // D-DIN-Bold
    // src: url('D-DINExp-Bold.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "ysbt";
    src: url('./font/ysbt.ttf'); // 优设标题黑
    // src: url('D-DINExp-Bold.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "SourceHanSansCN-Regular";
    src: url('./font/SourceHanSansCN-Regular.otf'); // 思源黑体
    font-weight: normal;
    font-style: normal;
}